.quots{
    font-style: italic;
    font-family: cursive;
    text-align: center;
    font-size: 20px;
}

body {
    background-image: url("../image/b2.jpg");
    background-position:center center;
    background-repeat:repeat;
}

main {
background-color: black;
margin: 0 auto;
width: 960px;
box-shadow: 0 0 70px red;
}

header {     
    height: 200px;
    background-image: url("../image/bm3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}   
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
footer {    
    width: auto;
    background-color: dimgray;
    height: auto;
    clear: both;
}
.kotakContoh {
    height: 300px;
    background-color: bisque;
    background-clip: content-box;
    border-radius: 30px;
}
section {
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    margin: 0;
    float: left;
}

p {
    margin: 20px;
}



